.settingsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: space-between;
}

.mainContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  align-content: space-between;
}

.mainConfig {
  min-height: 200px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.mainConfig p {
  text-align: center;
  color: #55585a;
}

.mainButton {
  min-height: 200px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

@media only screen and (orientation: landscape) {
  .settingsContainer, .mainContent {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: space-between;
  }
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .settingsContainer, .mainContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: space-between;
  }

  .mainConfig, .mainConfig p {
    text-align: center;
    font-size: 42px;
  }
  
}